{% extends 'home.html' %}
{% block title %}Registered Events{% endblock %}
{% block content %}
<div class="container">
    <h1>Your Registered Events</h1>
    <ul>
        {% for event in registered_events %}
        <div class="event-details">
            <p><strong>Date and Time:</strong> {{ event.event_datetime|date:"F d, Y H:i A" }}</p>
            <p><strong>Event Name:</strong> {{ event.event_name }}</p>
            <p><strong>College Name:</strong> {{ event.college_name }}</p>
            <p><strong>Address:</strong> {{ event.address }}</p>
            <p><strong>College Website:</strong> {{ event.college_website }}</p>
            <p><strong>Event Description:</strong> {{ event.event_description }}</p>
            <p><strong>Coordinator Name:</strong> {{ event.coordinator_name }}</p>
            <p><strong>Coordinator Contact:</strong> {{ event.coordinator_contact }}</p>
            <p><strong>Entry Fee:</strong> {{ event.entry_fee }}</p>
            <!-- Add any additional event details you want to display here -->

            <!-- Display payment details for the current event -->
            <p><strong>Payment Date:</strong> {{ event.payment_date|date:"F d, Y H:i A" }}</p>
            <p><strong>Payment Amount:</strong> {{ event.payment_amount }}</p>
            
            <!-- Add any additional payment details you want to display here -->
        </div>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Back to Home</a>
</div>
{% endblock %}
